In [1]:
from selenium import webdriver
from bs4 import BeautifulSoup as bs4
from urllib.request import urlopen
import pandas as pd, numpy as np
import requests

In [49]:
bs = "Link for Balance Sheet from Money Control"
pl = 'Link for Profit and Loss from Money Control'
cs = 'Link for Cash Flow from Money Control'

## Extracting Balance Sheet

In [3]:
url = 'Link for Balance Sheet from Money Control'
driver = webdriver.Chrome("path to chrome driver")
driver.get(url)
Pagelength = driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")
Pagelength

In [4]:
src = driver.page_source

In [5]:
data = bs4(src, 'html.parser')

In [6]:
row = data.find_all('tr')
row = row[1:]

In [7]:
header = []
for i in range(len(row[0].find_all('td'))-1):
    header.append(row[0].find_all('td')[i].text.strip())

header

['Balance Sheet of Zee Entertainment Enterprises (in Rs. Cr.)',
 'Mar 21',
 'Mar 20',
 'Mar 19',
 'Mar 18',
 'Mar 17']

In [8]:
lists = [] 
for i in range(1,len(row)):
    for j in range(len(row[i].find_all('td'))-1):
        lists.append(row[i].find_all('td')[j].text)

len(lists)
rows = np.reshape(lists , (65,6))
rows

bs_df = pd.DataFrame(rows , columns = header)

In [9]:
bs_df

,Balance Sheet of Zee Entertainment Enterprises (in Rs. Cr.),Mar 21,Mar 20,Mar 19,Mar 18,Mar 17
0,,12 mths,12 mths,12 mths,12 mths,12 mths
1,EQUITIES AND LIABILITIES,,,,,
2,SHAREHOLDER'S FUNDS,,,,,
3,Equity Share Capital,96.10,96.00,96.00,96.00,96.00
4,Total Share Capital,96.10,393.50,836.90,"1,240.30","1,622.20"
...,...,...,...,...,...,...
60,Non-Current Investments Quoted Market Value,6.00,5.50,48.10,53.70,53.20
61,Non-Current Investments Unquoted Book Value,59.70,127.50,"1,272.20","1,160.40",858.00
62,CURRENT INVESTMENTS,,,,,
63,Current Investments Quoted Market Value,740.80,--,--,403.20,307.50
64,Current Investments Unquoted Book Value,25.90,102.20,251.90,372.50,"1,195.40"

## Extracting Profit and Loss Statement

In [10]:
url = 'Link for Profit and Loss from Money Control'
driver = webdriver.Chrome("path to chrome driver")
driver.get(url)
Pagelength = driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")
Pagelength
src = driver.page_source
data = bs4(src, 'html.parser')
row = data.find_all('tr')
row = row[1:]
data.find_all('tr')
row[0].find_all('td')
header = []
for i in range(len(row[0].find_all('td'))-1):
    header.append(row[0].find_all('td')[i].text.strip())
lists = [] 
for i in range(1,len(row)):
    for j in range(len(row[i].find_all('td'))-1):
        lists.append(row[i].find_all('td')[j].text)

len(lists)
rows = np.reshape(lists , (43,6))
rows

pl_df = pd.DataFrame(rows , columns = header)
pl_df

,Profit & Loss account of Zee Entertainment Enterprises (in Rs. Cr.),Mar 21,Mar 20,Mar 19,Mar 18,Mar 17
0,,12 mths,12 mths,12 mths,12 mths,12 mths
1,INCOME,,,,,
2,Revenue From Operations [Gross],"6,641.30","7,195.50","6,851.40","5,788.60","5,017.60"
3,Less: Excise/Sevice Tax/Other Levies,0.00,0.00,0.00,0.00,0.00
4,Revenue From Operations [Net],"6,641.30","7,195.50","6,851.40","5,788.60","5,017.60"
5,Total Operating Revenues,"6,665.40","7,293.50","6,857.90","5,795.60","5,024.90"
6,Other Income,262.40,230.90,189.40,981.80,347.90
7,Total Revenue,"6,927.80","7,524.40","7,047.30","6,777.40","5,372.80"
8,EXPENSES,,,,,
9,Cost Of Materials Consumed,0.00,0.00,0.00,0.00,0.00
10,Operating And Direct Expenses,"3,177.40","3,672.70","2,393.80","2,192.70","2,034.00"
11,"Changes In Inventories Of FG,WIP And Stock-In ...",0.00,0.00,0.00,0.00,0.00
12,Employee Benefit Expenses,685.60,625.80,541.90,478.10,449.10
13,Finance Costs,52.60,139.00,128.40,142.60,127.20
14,Depreciation And Amortisation Expenses,145.70,177.60,158.90,139.80,86.00
15,Other Expenses,"1,137.50","1,411.80","1,206.90","1,093.10","1,108.40"
16,Total Expenses,"5,198.80","6,026.90","4,429.90","4,046.30","3,804.70"
17,"Profit/Loss Before Exceptional, ExtraOrdinary ...","1,729.00","1,497.50","2,617.40","2,731.10","1,568.10"
18,Exceptional Items,-126.60,-284.30,-21.80,0.00,47.00
19,Profit/Loss Before Tax,"1,602.40","1,213.20","2,595.60","2,731.10","1,615.10"
20,Tax Expenses-Continued Operations,,,,,
21,Current Tax,510.40,571.30,948.20,864.50,385.10
22,Less: MAT Credit Entitlement,0.00,0.00,0.00,0.00,0.00
23,Deferred Tax,-19.00,-112.80,13.30,-44.40,256.20
24,Tax For Earlier Years,-10.00,2.90,-20.90,-0.90,5.40
25,Total Tax Expenses,481.40,461.40,940.60,819.20,646.70
26,Profit/Loss After Tax And Before ExtraOrdinary...,"1,121.00",751.80,"1,655.00","1,911.90",968.40
27,Profit/Loss From Continuing Operations,"1,121.00",751.80,"1,655.00","1,911.90",968.40
28,Profit/Loss For The Period,"1,121.00",751.80,"1,655.00","1,911.90",968.40
29,OTHER ADDITIONAL INFORMATION,,,,,
30,EARNINGS PER SHARE,,,,,
31,Basic EPS (Rs.),11.67,7.83,17.23,19.91,10.08
32,Diluted EPS (Rs.),11.67,7.83,17.23,19.91,10.08
33,VALUE OF IMPORTED AND INDIGENIOUS RAW MATERIAL...,,,,,
34,Imported Raw Materials,0.00,0.00,0.00,0.00,0.00
35,Indigenous Raw Materials,0.00,0.00,0.00,0.00,0.00
36,"STORES, SPARES AND LOOSE TOOLS",,,,,
37,Imported Stores And Spares,0.00,0.00,0.00,0.00,0.00
38,Indigenous Stores And Spares,0.00,0.00,0.00,0.00,0.00
39,DIVIDEND AND DIVIDEND PERCENTAGE,,,,,
40,Equity Share Dividend,28.80,336.20,278.50,240.10,216.10
41,Tax On Dividend,0.00,69.10,57.30,0.00,16.70
42,Equity Dividend Rate (%),250.00,30.00,350.00,290.00,250.00

## Extracting Cash Flow

In [11]:
url = 'Link for Cash Flow from Money Control'
driver = webdriver.Chrome("path to chrome driver")
driver.get(url)
Pagelength = driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")
Pagelength
src = driver.page_source
data = bs4(src, 'html.parser')
row = data.find_all('tr')
row = row[1:]
data.find_all('tr')
row[0].find_all('td')
header = []
for i in range(len(row[0].find_all('td'))-1):
    header.append(row[0].find_all('td')[i].text.strip())
lists = [] 
for i in range(1,len(row)):
    for j in range(len(row[i].find_all('td'))-1):
        lists.append(row[i].find_all('td')[j].text)

len(lists)
rows = np.reshape(lists , (10,6))
rows

cs_df = pd.DataFrame(rows , columns = header)
cs_df

,Cash Flow of Zee Entertainment Enterprises (in Rs. Cr.),Mar 21,Mar 20,Mar 19,Mar 18,Mar 17
0,,12 mths,12 mths,12 mths,12 mths,12 mths
1,Net Profit/Loss Before Extraordinary Items And...,"1,602.40","1,213.20","2,595.60","2,731.10","1,615.10"
2,Net CashFlow From Operating Activities,"1,101.60",307.10,263.30,733.10,823.80
3,Net Cash Used In Investing Activities,-365.80,256.00,"1,060.70",399.20,-277.90
4,Net Cash Used From Financing Activities,-537.20,"-1,039.00",-966.20,"-1,089.50",-379.30
5,Foreign Exchange Gains / Losses,0.00,0.00,0.00,0.00,0.00
6,Adjustments On Amalgamation Merger Demerger Ot...,0.00,0.00,0.00,3.80,5.90
7,Net Inc/Dec In Cash And Cash Equivalents,198.60,-475.90,357.80,46.60,172.50
8,Cash And Cash Equivalents Begin of Year,382.50,858.50,500.70,454.10,281.60
9,Cash And Cash Equivalents End Of Year,581.10,382.60,858.50,500.70,454.10

## Summarising DataFrame and Data Cleaning

In [12]:
bs_df.dtypes

Balance Sheet of Zee Entertainment Enterprises (in Rs. Cr.)    object
Mar 21                                                         object
Mar 20                                                         object
Mar 19                                                         object
Mar 18                                                         object
Mar 17                                                         object
dtype: object

In [13]:
bs_df = bs_df.drop(0)
pl_df = pl_df.drop(0)
cs_df = cs_df.drop(0)

In [14]:
bs_df  = bs_df.set_index(bs_df.columns[0])
pl_df  = pl_df.set_index(pl_df.columns[0])
cs_df  = cs_df.set_index(cs_df.columns[0])

In [15]:
bs_df = bs_df.replace(',' , '' , regex = True)
pl_df = pl_df.replace(',' , '' , regex = True)
cs_df = cs_df.replace(',' , '' , regex = True)

In [16]:
bs_df = bs_df.replace('--' , '' , regex = True)
pl_df = pl_df.replace('--' , '' , regex = True)
cs_df = cs_df.replace('--' , '' , regex = True)

## Changing Data Type of The DataFrame

In [31]:
bs_df1 = pd.DataFrame()
for cols in bs_df.columns:
    temp = pd.to_numeric(bs_df[cols])
    bs_df1 = pd.concat([bs_df1 , temp] , axis = 1)

bs_df1

,Mar 21,Mar 20,Mar 19,Mar 18,Mar 17
EQUITIES AND LIABILITIES,NaN,NaN,NaN,NaN,NaN
SHAREHOLDER'S FUNDS,NaN,NaN,NaN,NaN,NaN
Equity Share Capital,96.1,96.0,96.0,96.0,96.0
Total Share Capital,96.1,393.5,836.9,1240.3,1622.2
Reserves and Surplus,8651.6,7532.0,7035.4,5723.7,4251.1
...,...,...,...,...,...
Non-Current Investments Quoted Market Value,6.0,5.5,48.1,53.7,53.2
Non-Current Investments Unquoted Book Value,59.7,127.5,1272.2,1160.4,858.0
CURRENT INVESTMENTS,NaN,NaN,NaN,NaN,NaN
Current Investments Quoted Market Value,740.8,NaN,NaN,403.2,307.5
Current Investments Unquoted Book Value,25.9,102.2,251.9,372.5,1195.4

In [32]:
pl_df1 = pd.DataFrame()
for cols in bs_df.columns:
    temp = pd.to_numeric(pl_df[cols])
    pl_df1 = pd.concat([pl_df1 , temp] , axis = 1)

pl_df1

,Mar 21,Mar 20,Mar 19,Mar 18,Mar 17
INCOME,NaN,NaN,NaN,NaN,NaN
Revenue From Operations [Gross],6641.30,7195.50,6851.40,5788.60,5017.60
Less: Excise/Sevice Tax/Other Levies,0.00,0.00,0.00,0.00,0.00
Revenue From Operations [Net],6641.30,7195.50,6851.40,5788.60,5017.60
Total Operating Revenues,6665.40,7293.50,6857.90,5795.60,5024.90
Other Income,262.40,230.90,189.40,981.80,347.90
Total Revenue,6927.80,7524.40,7047.30,6777.40,5372.80
EXPENSES,NaN,NaN,NaN,NaN,NaN
Cost Of Materials Consumed,0.00,0.00,0.00,0.00,0.00
Operating And Direct Expenses,3177.40,3672.70,2393.80,2192.70,2034.00
"Changes In Inventories Of FG,WIP And Stock-In Trade",0.00,0.00,0.00,0.00,0.00
Employee Benefit Expenses,685.60,625.80,541.90,478.10,449.10
Finance Costs,52.60,139.00,128.40,142.60,127.20
Depreciation And Amortisation Expenses,145.70,177.60,158.90,139.80,86.00
Other Expenses,1137.50,1411.80,1206.90,1093.10,1108.40
Total Expenses,5198.80,6026.90,4429.90,4046.30,3804.70
"Profit/Loss Before Exceptional, ExtraOrdinary Items And Tax",1729.00,1497.50,2617.40,2731.10,1568.10
Exceptional Items,-126.60,-284.30,-21.80,0.00,47.00
Profit/Loss Before Tax,1602.40,1213.20,2595.60,2731.10,1615.10
Tax Expenses-Continued Operations,NaN,NaN,NaN,NaN,NaN
Current Tax,510.40,571.30,948.20,864.50,385.10
Less: MAT Credit Entitlement,0.00,0.00,0.00,0.00,0.00
Deferred Tax,-19.00,-112.80,13.30,-44.40,256.20
Tax For Earlier Years,-10.00,2.90,-20.90,-0.90,5.40
Total Tax Expenses,481.40,461.40,940.60,819.20,646.70
Profit/Loss After Tax And Before ExtraOrdinary Items,1121.00,751.80,1655.00,1911.90,968.40
Profit/Loss From Continuing Operations,1121.00,751.80,1655.00,1911.90,968.40
Profit/Loss For The Period,1121.00,751.80,1655.00,1911.90,968.40
OTHER ADDITIONAL INFORMATION,NaN,NaN,NaN,NaN,NaN
EARNINGS PER SHARE,NaN,NaN,NaN,NaN,NaN
Basic EPS (Rs.),11.67,7.83,17.23,19.91,10.08
Diluted EPS (Rs.),11.67,7.83,17.23,19.91,10.08
"VALUE OF IMPORTED AND INDIGENIOUS RAW MATERIALS STORES, SPARES AND LOOSE TOOLS",NaN,NaN,NaN,NaN,NaN
Imported Raw Materials,0.00,0.00,0.00,0.00,0.00
Indigenous Raw Materials,0.00,0.00,0.00,0.00,0.00
"STORES, SPARES AND LOOSE TOOLS",NaN,NaN,NaN,NaN,NaN
Imported Stores And Spares,0.00,0.00,0.00,0.00,0.00
Indigenous Stores And Spares,0.00,0.00,0.00,0.00,0.00
DIVIDEND AND DIVIDEND PERCENTAGE,NaN,NaN,NaN,NaN,NaN
Equity Share Dividend,28.80,336.20,278.50,240.10,216.10
Tax On Dividend,0.00,69.10,57.30,0.00,16.70
Equity Dividend Rate (%),250.00,30.00,350.00,290.00,250.00

In [33]:
cs_df1 = pd.DataFrame()
for cols in cs_df.columns:
    temp = pd.to_numeric(cs_df[cols])
    cs_df1 = pd.concat([cs_df1 , temp] , axis = 1)

cs_df1

,Mar 21,Mar 20,Mar 19,Mar 18,Mar 17
Net Profit/Loss Before Extraordinary Items And Tax,1602.4,1213.2,2595.6,2731.1,1615.1
Net CashFlow From Operating Activities,1101.6,307.1,263.3,733.1,823.8
Net Cash Used In Investing Activities,-365.8,256.0,1060.7,399.2,-277.9
Net Cash Used From Financing Activities,-537.2,-1039.0,-966.2,-1089.5,-379.3
Foreign Exchange Gains / Losses,0.0,0.0,0.0,0.0,0.0
Adjustments On Amalgamation Merger Demerger Others,0.0,0.0,0.0,3.8,5.9
Net Inc/Dec In Cash And Cash Equivalents,198.6,-475.9,357.8,46.6,172.5
Cash And Cash Equivalents Begin of Year,382.5,858.5,500.7,454.1,281.6
Cash And Cash Equivalents End Of Year,581.1,382.6,858.5,500.7,454.1